
<h1>User login</h1>

<div>
    <div>
        <div>
            <h1>Login</h1>
            <form method="post">
                <div>
                    <label>Email address</label>
                    <input type="text" />
                    <span></span>
                </div>

                <div>
                    <label>Password</label>
                    <input type="password" />
                    <span></span>
                </div>

                <div>
                    <input type="checkbox" />
                    <label>Remember me</label>
                </div>

                <div>
                    <button type="submit">Login</button>
                </div>

                <div>
                    <a href="#">Forgot Password</a>
                </div>
            </form>
        </div>
    </div>
</div>