
<h1>User login</h1>

<div class="container mt-5">
    <div class="row-justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Login</h1>
            <form method="post">
                <div class="mb-3">
                    <label class="form-label">Email address</label>
                    <input type="text" class="form-control"/>
                    <span class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" >Password</label>
                    <input type="password" class="form-control" />
                    <span class="text-danger"></span>
                </div>

                <div class="mb-3" form-check>
                    <input type="checkbox" class="form-check-input" />
                    <label class="form-check-label">Remember me.</label>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>

                <div class="mb-3">
                    <a class="btn btn-link">Forgot Password?</a>
                </div>
            </form>
        </div>
    </div>
</div>