@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">DALL-E API in .NET</h1>
<!--Text area for the prompt text-->
<textarea class="form-control" id="txt" style="width:500px;" placeholder="Enter your text here"></textarea>
<br />

<!-- Input for desired number of images -->
<input type="number" value="1" placeholder="Enter quantity" id="quantity" />

<!--Combobox for the desired image size-->
<select id="sel">
    <option selected>256x256</option>
    <option>512x512</option>
    <option>1024x1024</option>
</select>

<!--Generate button-->
<button id="btn">
    Generate
</button>
<br />
<!--div for displaying the images-->
<div id="display" class="col-md-12 row">
</div>