
<head>
    Index page
</head>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="#">Login</a>
    <a href="#">Create account</a>
    <a href="#">Log out</a>
</div>
